
@media (max-width:992px){
  .img_about{
    width: 480px;
  }
  .home_content{
    margin-bottom: 2rem;
  }
  .testimonial{
    width: 80%;
  }

  .blogs{
    width: 90%;
  }

  .heading_lg{
    font-size: 70px;
  }

  .navbar-toggler{
    margin-top: -62px;
    margin-right: 10px;

  }
  

.logo{
  font-size: 20px;
  font-weight: 500;
  color: green;
  position: relative;
  top: 15px;
  left: 140px;
}
  
  .img_home{
    display: none;
  }

  .heading_lg{
    font-size: 80px;
  }

  .heading_lg , .heading_sm , .heading_md , .social_links , .links_home{
    text-align: center;
    font-size:33px;
  }

  .home{
    margin-bottom: 100px;
    padding-bottom: 30px;
  }

  .btn_home {
    font-size: 15px;
  }

  .btn_navbar{
    font-size: 14px;
    position: relative;
    right: 22px;
  }

  .nav-item{
    margin-left: 15px;
    }
    
    .nav-item .nav-link{
      color: rgba(0, 0, 0, 0.733);
      font-weight: 600;
      font-size: 14px;
    }

    .icon_social{
      background-color: #7f00ff;
      color: white;
    }

    .btn_about{
      display: inline-block !important;
      padding: 11px 37px;
      text-decoration: none;
      background-color:rgb(190, 20, 20);
      color: white;
      border: 3px solid rgb(190, 20, 20);
      width: 190px;
      margin: -10px 0px;
      font-weight: 600;
      border-radius: 3px;
      position: relative;
      z-index: 77;
    }
   
    .detail_container{
      bottom: 40%;
      width: 300px;
    }


    .card-img-top{
      width: 100%;
      height: 40vw;
    }

   .heading_details {
     font-size: 20px;
    }

    hr {
      position: relative;
      bottom: 28%;
      background-color: black;
    }

    .img_about{
      width: 300px;
      position: relative;
      bottom: 80px;
      left: 50px;
    }

    .content_about{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: relative;
      top: 0;
      padding-left: 40px;
      margin-bottom: 70px;

    }

    .heading_about{
      padding-right: 30px;
    }

    .para_about{
    padding-right: 30px;
    }

    .btn_about{
     margin-top: 40px;
     right: 20px;
    }

    .service{
      margin-top: -190px;
    }

    .para_services{
      font-size: 10px;
      padding: 0 10px 0 10px;
    }

    .row_second{
      display: none;
    }


    .service_container{
      display: block;
    }

    .content_services .heading_text{
      font-size: 20px;
      padding-left: 110px;
      font-weight: 600;
    }

    .content_text .para_text{
     padding-left: 1rem;
    }

    .content_services .heading_marketing{
      padding-left: 129px;
    }

    .content_services .heading_ux{
      padding-left: 126px;
    }



    .content_services{
      display: block;
      /* position: relative;
      left: 50px; */
    }

    .service_icons{
      background-color: red;
      color: white;
    }

    .icon_service{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fa-chart-line:before{
      position: relative;
      bottom: 50px;
    }

    .fa-chart-simple:before {
      position: relative;
      bottom: 50px;
    }

    .fa-cubes:before {
      position: relative;
      bottom: 50px;
  }

  

  .heading_skills{
    font-size: 30px;
    
  }

  .skills .heading_text{
    position: relative;
    left: 55px;
  }

  .content-skills{
    position: relative;
    left: 2rem;
  }

    .blogs{
     margin-top: 100px;
    }

    .blogs_container{
      padding-left: 80px;
    }
    
    .btn_blogs{
      margin-left: 80px;
    }


    .testimonials{
      width: 100%;
      margin: auto;
      padding-top: 20px;
      padding-left: 30px;
    }

    .img_testimonial{
      width: 300px;
      height: 260px;
      padding-left: 20px;
    }

    .para_testimonial{
      padding-top: 20px;
      font-size: 14px;
    }

    .heading_testimonials{
      font-size: 20px;
      padding-right: 2rem;
    }

  



   

    .contact_column .row{
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap;
      width: 100%; */
     
    }

    .footer {
      all: revert;
    }
    
    .footer p {
      color: #fff;
      /* /* padding-left: 450px; */
      padding-top: 15px;
      font-size: 15px;
    }

    .footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* text-align: center;
      display: block; */
    }

    .footer .email{
      color:#fff;
    }
    .footer .phone_no{
      color:#fff;
    }

}


/* @media(max-width:992px){
  .navbar-toggler{
    margin-bottom: 60px;
    margin-right: 30px;

  }

 .logo{
  font-size: 30px;
  font-weight: 500;
  color: green;
  position: relative;
  top: 30px;
  left: 20px;
}

  .img_home{
    display: none;
  }

  .heading_lg{
    font-size: 80px;
  }

  .heading_lg , .heading_sm , .heading_md , .social_links , .links_home{
    text-align: center;
    font-size:33px;
  }

  .home{
    margin-bottom: 100px;
    padding-bottom: 30px;
  }

  .btn_home {
    font-size: 15px;
  }

  .btn_navbar{
    font-size: 14px;
    position: relative;
    right: 22px;
  }

  .nav-item{
    margin-left: 15px;
    }
    
    .nav-item .nav-link{
      color: rgba(0, 0, 0, 0.733);
      font-weight: 600;
      font-size: 14px;
    }

    .detail_container{
      bottom: 40%;
    }

    hr {
      position: relative;
      bottom: 28%;
      background-color: black;
    }

    .img_about{
      width: 400px;
      position: relative;
      bottom: 80px;
      left: 120px;
    }

    .content_about{
      display: flex;
      align-items: center;
      position: relative;
      top: 0;
      padding-left: 40px;
      margin-bottom: 70px;

    }

    .blogs{
     margin-top: 100px;
    }

    .blogs_container{
      padding-left: 80px;
    }
    
    .btn_blogs{
      margin-left: 80px;
    }


    .testimonials{
      margin: auto;
      padding-top: 20px;
      padding-left: 30px;
    }

   

    .contact_column .row{
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap;
      width: 100%; */
     
  


